$bgcolor: #fafafa;
$textcolor: #666666;
$fontsize: 18px;
$bg-tp: #ffffff00;

// font family added



@font-face {
    font-family: 'futurabook';
    src: url('../fonts/futura_book_font-webfont.woff2') format('woff2'),
         url('../fonts/futura_book_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
	font-family: 'Conv_futuralightbt';
	src: url('../fonts/futuralightbt.eot');
	src: local('☺'), url('../fonts/futuralightbt.woff') format('woff'), url('../fonts/futuralightbt.ttf') format('truetype'), url('../fonts/futuralightbt.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Conv_futuramediumbt';
	src: url('../fonts/futuramediumbt.eot');
	src: local('☺'), url('../fonts/futuramediumbt.woff') format('woff'), url('../fonts/futuramediumbt.ttf') format('truetype'), url('../fonts/futuramediumbt.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_FuturaMediumItalicfont';
	src: url('../fonts/FuturaMediumItalicfont.eot');
	src: local('☺'), url('../fonts/FuturaMediumItalicfont.woff') format('woff'), url('../fonts/FuturaMediumItalicfont.ttf') format('truetype'), url('../fonts/FuturaMediumItalicfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_BaskervilleItalicBT';
	src: url('../fonts/BaskervilleItalicBT.eot');
	src: local('☺'), url('../fonts/BaskervilleItalicBT.woff') format('woff'), url('../fonts/BaskervilleItalicBT.ttf') format('truetype'), url('../fonts/BaskervilleItalicBT.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

$futura-light: 'Conv_futuralightbt';
$futura-book: 'futurabook';
$futura-medium: 'Conv_futuramediumbt';
$futura-medium-italic: 'Conv_FuturaMediumItalicfont';
$basker-ville: 'Conv_BaskervilleItalicBT';



/* Use the variables */
body {
  background-color: $bgcolor;
  color: $textcolor;
  font-size: $fontsize;
  background-image: url('../images/bg-line.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: $futura-book !important;
  font-weight: normal;
}

$color-white: #ffffff; 
$hover: #ED5C37;

/* end the variables */



/*###########################################################################
############################## header section ###############################*/
.fixed-top {
    background-color: #ffffff;
    box-shadow: 0 7px 12px rgba(0,0,0,.02);
    position: fixed !important;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}


.header{
    .row-100 {width: 100%; margin: 0;
    .col-12 {padding: 0;}
    }
    .navbar {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        display: block;

        .navbar-brand {
            width: 200px;
            height: auto;
            img {
                width: 100%;
            }
        }

        .navbar-toggler {
            color: $textcolor;
            padding: 0;
            outline: 0 !important;

            .navbar-toggler-icon {
                background-color: $bg-tp;
                background-image: url('../../assets/images/menubar.png');
                background-repeat: no-repeat;
                background-size: contain;
                height: 26px;
                width: 26px;
            }
        }
        .navbar-toggler{
            position: absolute;
            right: 15px;
            top: -40px;
        }
        .collapse {
            height: 100%;
            height: 100%;
            .navbar-nav { 
                .nav-item  {
                    .nav-link {
                        color: $textcolor;
                        font-size: 14px;
                        line-height: 24px;
                        padding: 8px 12px;
                        letter-spacing: 0.12;
                        font-family: $futura-book;
                        &:hover {
                            color: $hover;
                        }
                    
                    }
                }
                .nav-btn {
                    .nav-link {
                    background-color: #ED5C37;
                    color: #ffffff;
                    border-radius: 4px;
                    transition: all 0.3s ease-in-out;
                        &:hover {
                            background-color: #f2f2f2;
                            color: #ED5C37;
                            transition: all 0.3s ease-in-out;
                        }
                    }
                }
            }
        }
    }
}


/*############################## Home section ###############################*/
// helper class
.img-fluid {width: 100%;}



// btns

.btn-book-cunsltaion {background-color: #ED5C37; color: #FFFFFF;}
.btn-book-cunsltaion:hover {background-color: #ED5C37;color: #FFFFFF;}

.btn-see-more {background-color: #ffffff; color: #ED5C37; border: 1px solid #ED5C37 ;}
.btn-see-more:hover {background-color: #ED5C37;color: #ffffff;}


.btn-hover-up:hover {
    box-shadow: rgba(45, 45, 45, 0.03) 0 2px 2px, rgba(49, 49, 49, 0.03) 0 4px 4px, rgba(42, 42, 42, 0.03) 0 8px 8px, rgba(32, 32, 32, 0.03) 0 16px 16px, rgba(49, 49, 49, 0.03) 0 32px 32px, rgba(35, 35, 35, 0.03) 0 64px 64px;
    -webkit-transform: translate(0, -2px);
    transform: translate(0, -2px);}
 

// middle section start here

.middle-section{
    .middle-inner {
    background-image: url('../images/back-pattern.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    background-position: top right;
    padding-top: 80px;
    }

    .home-section {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        position: relative;
        background-image: url('../images/back-pattern.png');
        background-repeat: no-repeat;
        background-size: auto;
        background-attachment: fixed;
        background-position: bottom left;
        .home-inner
        {
            background-image: url('../images/back-pattern.png');
            background-repeat: no-repeat;
            background-size: auto;
            background-attachment: fixed;
            background-position: top right;
            max-width: 1920px;
            width: 100%;
            padding: 100px 0; 

            .all-center{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                height: 100%;
            }
            .home-welcome {
                .welcome-content {
                    padding-left: 13%;
                    h1 {
                        padding: 10px 0 10px 0;
                        margin-bottom: 50px;
                        font-size: 40px;
                        color: #222222;
                        font-family: $futura-medium;
                        letter-spacing: 0;
                        text-align: left;
                        position: relative;
                        &::after {
                            content: "";
                            border-bottom: 4px solid #ED5C37;
                            border-radius: 100px;
                            position: absolute;
                            left: 0;
                            bottom: 0px;
                            width: 50px;
                        }
                    }
                    P {
                        font-size: 16px;
                        color: #666666;
                        letter-spacing: 0;
                        line-height: 30px;
                        font-family: $futura-book;
                        span {
                            display: block;
                        }
                    }
                }

                .solution-tabs {
                    padding: 30px 0;
                    padding-left: 13%;
                    ul {
                        padding: 0;
                        margin: 0;
                        border: 0;
                        li {
                            display: inline-block;
                            list-style: none;
                            a {
                                padding: 10px 20px;
                                background: #F1F3F5;
                                font-size: 14px;
                                color: #222222;
                                letter-spacing: 0;
                                text-align: left;
                                text-decoration: none;
                                font-family: $futura-book;
                                margin-right: 8px;
                                line-height: 22px;
                                display: inline-block;
                                margin-bottom: 10px;
                                transition: all 0.3s ease-in-out;

                                &:hover {
                                    background: rgba(237,92,55,0.10);
                                    color: #ED5C37;
                                    transition: all 0.3s ease-in-out;
                                }
                            }

                            a.active 
                            {
                                background: rgba(237,92,55,0.10);
                                color: #ED5C37;
                                text-align: left;
                                text-decoration: none;                                                            
                            }
                        }
                    
                    }
                    
                }
            }

            .tab-home {

                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    width: 35%;
                    height: 100%;
                    background-image: linear-gradient(269deg, #FAFAFA 5%, rgba(255,255,255,0.00) 80%);
                    right: 0;
                    top: 0;
                    z-index: 99;
                }
                .tab-pane {
                    width: 100%;
                    max-height: 650px;
                    min-height: 650px;
                    overflow: hidden;
                   
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }

    .our-strtagic-section {
        background-color: #ffffff;
        height: auto;
        overflow: hidden;

        .stratagic-inner {
            padding: 80px 0;
            .tab-strtagic {
                .tab-pane {
                    display: none;
                    .startgic-content
                    {
                        h2 {
                            margin-bottom: 50px;
                            font-size: 40px;
                            color: #222222;
                            font-family: $futura-medium;
                            letter-spacing: 0;
                            text-align: left;
                            position: relative;

                            &::after {
                                content: "";
                                border-bottom: 4px solid #ED5C37;
                                border-radius: 100px;
                                position: absolute;
                                left: 0;
                                bottom: -10px;
                                width: 50px;
                            }
                        }

                        h4 {
                            font-size: 22px;
                            color: #222222;
                            letter-spacing: 0;
                            line-height: 20px;
                            margin-bottom: 30px;
                        }
                        p {
                            font-size: 16px;
                            color: #5D5F65;
                            letter-spacing: 0;
                            line-height: 24px;
                            span {
                                background-color: #F3ECED;padding: 10px 30px;
                                display: block;
                                border-left: 3px solid #ED5C37;
                                margin-bottom: 20px;
                                font-size: 16px;
                                font-weight: 600;
                            }
                        }                    
                    } 
                }
                .active {
                    display: block;
                }
            }
        }
    }

    .like-wat-you-see {
        background-image: url('../images/black.png');
        background-repeat: no-repeat;
        background-size: 180px;
        background-attachment: scroll;
        background-position: right bottom;
        .like-wat-you-see-inner  {
            background-image: url('../images/black.png');
            background-repeat: no-repeat;
            background-size: 180px;
            background-attachment: scroll;
            background-position: left top;
            padding: 50px 0 0px 0;
      
        }
        background-color: #222222;
        padding: 0px 0 50px 0;


    
        h2 {
            font-size: 36px;
            color: #FFFFFF;
            letter-spacing: 0;
            text-align: left;
            line-height: 54px;
            font-family: $futura-light;
            margin-bottom: 0;
            span {
                display: inline-block;
               position: relative;
               font-family: $futura-medium-italic;
               &::after {
                content: '';
                position: absolute;
                left: 0; bottom: 0;
                height: 1px;
                width: 100%;
                border-bottom: 1px solid #ED5C37;
               } 
            }
        }

        .bookcunstation {
            height: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            a {
                padding: 8px 56px;
                border-radius: 0;
                font-size: 18px;
                transition: 0.3s ease-in-out;
            }
        }
    }

    .our-service-section {
        background-color:  rgba(242, 242, 242, 0.5);

        .our-service-box {
            padding: 50px 20px 50px 15%;
            h2 {                    
                font-size: 40px;
                color: #222222;
                font-family: $futura-medium;
                letter-spacing: 0;
                text-align: left;
                position: relative;
                margin-bottom: 50px;

                &::after {
                    content: "";
                    border-bottom: 4px solid #ED5C37;
                    border-radius: 100px;
                    position: absolute;
                    left: 0;
                    bottom: -10px;
                    width: 50px;
                }
            }

                p {
                    font-size: 18px;
                    color: #666666;
                    letter-spacing: 0.6px;
                    text-align: left;
                    line-height: 26px;
                }
            }
        
    

        .our-service-slide {
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding: 60px 0px;
                text-decoration: none;

                img {
                    width: 28px;
                    height: auto;
                    margin-bottom: 20px;}
                img.img-32 {
                    width: 32px;
                }
            h4 {
                font-size: 22px;
                color: #141720;
                text-align: center;
                line-height: 26px;
                font-family: $futura-medium;
            }

            p {
                font-size: 18px;
                color: #666666;
                letter-spacing: 0.6px;
                text-align: center;
                line-height: 26px;
            }
            
            }

        }
    

        .owl-carousel .owl-nav button {
            box-shadow: none !important;
            background-color: transparent;
            outline: none;

            &:hover {
                background-color: transparent;
            }
            &:focus {
                box-shadow: none !important;
                outline: none;
            }
        }
        .owl-theme .owl-nav {
            margin-top: 10px;
            position: absolute;
            left: -395px;
            bottom: 32px;
        }

    }
    
    .expert-section {
        padding: 80px 0;
        background-color: #ffffff;
        .expert-content {
            margin-bottom: 50px;
            h2 {
                font-size: 40px;
                color: #222222;
                font-family: $futura-medium;
                letter-spacing: 0;
                text-align: left;
                position: relative;
                margin-bottom: 50px;

                &::after {
                    content: "";
                    border-bottom: 4px solid #ED5C37;
                    border-radius: 100px;
                    position: absolute;
                    left: 0;
                    bottom: -10px;
                    width: 50px;
                }
            }
            p {
                font-size: 16px;
                color: #666666;
                letter-spacing: 0;
                line-height: 30px;
            }
        }
        .pad-left-0 {
            padding-left: 0;
        }
        .pad-right-0{
            padding-right: 0;  
        }

        .hover-img-expert{
            display: block;
            transition: all .5s ease-in-out;
            &:hover {
                box-shadow: rgba(45,45,45,0.03) 0 2px 2px, rgba(49,49,49,0.03) 0 4px 4px, rgba(42,42,42,0.03) 0 8px 8px, rgba(32,32,32,0.03) 0 16px 16px, rgba(49,49,49,0.03) 0 32px 32px, rgba(35,35,35,0.03) 0 64px 64px;
                transform: translate(0, -4px);
            }
        }
        .order-sm-2 {order: 1 !important;}
        .content-box-expert {
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100%;
            h3 {
                font-size: 16px;
                color: #222222;
                letter-spacing: 0;
                text-align: center;
                line-height: 30px;
                font-family: $futura-medium;
                letter-spacing: 0;
            }
            p {
                font-size: 16px;
                color: #666666;
                letter-spacing: 0;
                text-align: center;
                line-height: 26px;
            }
        }
    }

    .industires-section {
        background-color: transparent;
        padding: 80px 0;
        background-image: url('../images/back-pattern.png');
        background-repeat: no-repeat;
        background-size: auto;
        background-attachment: fixed;
        background-position: bottom left;

        .industires-content {
            margin-bottom: 50px;
            h2 {
                font-size: 40px;
                color: #222222;
                font-family: $futura-medium;
                letter-spacing: 0;
                text-align: center;
                position: relative;
                margin-bottom: 50px;
                
                &::after {
                        content: "";
                        border-bottom: 4px solid #ED5C37;
                        border-radius: 100px;
                        position: absolute;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                        bottom: -10px;
                        width: 50px;
                }
            }
            p {
                text-align: center;
                font-size: 16px;
                color: #666666;
                letter-spacing: 0;
                line-height: 30px;
                span {
                    display: block;
                }
            }
        }

        .tabs-div {
            margin-bottom: 50px;
            .industres-tab 
            {
                border: 0;
                li
                {
                    display: inline-block;
                    margin-right: 10px;
                    border: 0;
                    a {
                        padding: 10px 20px;
                        background: #DBDBDB;
                        font-size: 14px;
                        color: #222222;
                        letter-spacing: 0;
                        text-align: left;
                        text-decoration: none;
                        font-family: $futura-book;
                        margin-bottom: 10px;
                        display: block;
                        border: 1px solid transparent; 
                        transition: all 0.3s ease-in-out;
                        &:hover {
                            transition: all 0.3s ease-in-out;
                            color: #ED5C37;
                            background: rgba(237, 92, 55, 0.1);
                            border: 1px solid #ED5C37 ;
                        }
                    }
                    a.active {
                        color: #ED5C37;
                        background: rgba(237, 92, 55, 0.1);
                        border: 1px solid #ED5C37 ;
                    
                    }
                }            
            }
        }

        .industires-content-div {
            .tab-content {
                .tab-pane {
                    opacity: 1;
                }
            }
            .info-industires {
                padding: 40px;
                h3 {
                    font-size: 16px;
                    color: #222222;
                    letter-spacing: 0;
                    line-height: 30px;
                    font-family: $futura-medium;
                }
                p {
                    font-size: 16px;
                    color: #666666;
                    letter-spacing: 0;
                    line-height: 26px;
                }
                .hide_txt{
                    transition: all .3s ease-in-out;
                }
                .readmore_btn {
                    background-color: transparent;
                    border: transparent;
                    padding: 0 !important;
                    color: #ED5C37;
                    font-size: 18px;
                    font-family: $futura-book;
                    line-height: 26px;
                    outline: none;
                }
            }
        }

    }

    .our-client-section {
        padding: 100px 0;
        background-color: #ffffff;
        .our-client-content{
            margin-bottom: 50px;
            h2 {
                font-size: 40px;
                color: #222222;
                font-family: $futura-medium;
                letter-spacing: 0;
                text-align: center;
                position: relative;
                margin-bottom: 50px;
                
                &::after {
                        content: "";
                        border-bottom: 4px solid #ED5C37;
                        border-radius: 100px;
                        position: absolute;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                        bottom: -10px;
                        width: 50px;
                }
            }
        }

        .ourclient-content {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 40px 100px;
            .client-profile{
                height: 80px;
                width: 80px;
                overflow: hidden;margin-bottom: 40px;
            }

            p {
                font-size: 18px;
                color: #666666;
                letter-spacing: 0;
                text-align: center;
                line-height: 30px;
            }
        

        .owner {
            margin-bottom: 40px;
            flex-direction: column;
            h3 {
                font-size: 16px;
                color: #222222;
                letter-spacing: 0;
                text-align: center;
                font-family: $futura-medium;
            }
            P{
                font-size: 16px;
                color: #222222;
                letter-spacing: 0;
                text-align: center;
                margin-bottom: 0;
            }
        }

       

    }
    .owl-theme .owl-nav {
        position: relative;
        top: -50%;
        .owl-prev{
            left: -50px;
            position: absolute;
            &:hover {
                background-color: transparent;

            }
            &:focus {
                box-shadow: none;
                outline: 0;
            }
        }
        .owl-next{
            right: -50px;
            position: absolute;
            &:hover {
                background-color: transparent;

            }
            &:focus {
                box-shadow: none;
                outline: 0;
            }
        }
    }
    }

    .logo-client-section{
        padding: 80px 0;
        background-color: #F2F2F2;

        .logo-box {
            height: 80px;
            width: 80px;
            overflow: hidden;
            margin: 0 30px;
            border-radius: 100px;
            border: 2px solid transparent;
            img {
                width: 100%;
            }
            &:hover {
                transition: all 0.3s ease-in-out;
            }
        }
            .drop {
                &:hover{
                    cursor: pointer;
                    border: 2px solid #176fff;
                }
            }
            .google {
                &:hover{
                    cursor: pointer;
                    border: 2px solid #ffffff;
                }
            }
            .dribble {
                &:hover{
                    cursor: pointer;
                    border: 2px solid #d75887;
                }
            }
            .uber {
                &:hover{
                    cursor: pointer;
                    border: 2px solid #000000;
                }
            }

            .zen {
                &:hover{
                    cursor: pointer;
                    border: 2px solid #02363d;
                }
            }
            .tesla {
                &:hover{
                    cursor: pointer;
                    border: 2px solid #d03832;
                }
            }

            .cloud {
                &:hover{
                    cursor: pointer;
                    border: 2px solid #00a1e0;
                }
            }
            .shopy {
                &:hover{
                    cursor: pointer;
                    border: 2px solid #9ebe59;
                }
            }
    }

    .our-work-section {
        padding: 80px 0;
        background-color: #FAFAFA;

        .our-work-content {
            margin-bottom: 60px;
            h2 {
                font-size: 40px;
                color: #222222;
                font-weight: 700;
                letter-spacing: 0;
                text-align: left;
                position: relative;
                margin-bottom: 50px;

                &::after {
                    content: "";
                    border-bottom: 4px solid #ED5C37;
                    border-radius: 100px;
                    position: absolute;
                    left: 0;
                    bottom: -10px;
                    width: 50px;                    
                }               
            }

            p {
                font-size: 18px;
                color: #666666;
                letter-spacing: 0;
                line-height: 30px;
            
            }
        }
        .our-work-list {
            margin-bottom: 50px;
            padding: 0 15px;
            .col-lg-6 {
                padding: 0;
                a { display: block;
                    transition: all 0.5s ease-in-out;
                    &:hover {
                        transform: scale(1.03);
                        z-index: 999;
                        position: relative;
                        box-shadow: rgba(45,45,45,0.03) 0 2px 2px, rgba(49,49,49,0.03) 0 4px 4px, rgba(42,42,42,0.03) 0 8px 8px, rgba(32,32,32,0.03) 0 16px 16px, rgba(49,49,49,0.03) 0 32px 32px, rgba(35,35,35,0.03) 0 64px 64px;
                     
                    }
                }
            }
        }

        .see-more-work {
            .btn-see-more {
            padding: 6px 30px 6px 30px;
            display: inline-flex;
           white-space: nowrap;
            align-items: center;
            justify-content: flex-start;
            flex-direction: row;
            width: 250px;
            height: 100%;
            span {
                display: inline-flex;
                padding-left: 30px;
            }

            &:hover {
                
                span {
                    padding-left: 60px;
                    transition: all 0.3s ease-in-out;
                }
            }
            }
        }
    
    
    }
    
    .your-team-section{
        padding: 80px 0;
        background-color: #ffffff;
        .your-team-content {
            margin-bottom: 50px;;
            h2 {
                font-size: 40px;
                color: #222222;
                font-weight: 700;
                letter-spacing: 0;
                text-align: left;
                position: relative;
                margin-bottom: 60px;

                &::after {
                    content: "";
                    border-bottom: 4px solid #ED5C37;
                    border-radius: 100px;
                    position: absolute;
                    left: 0;
                    bottom: -10px;
                    width: 50px;                    
                }
                   
            }
            p {
                font-size: 18px;
                color: #666666;
                letter-spacing: 0;
                line-height: 30px;
                
                span {
                    display: block;
                }
            }    
        }

        .team-profile {
            transition: all 0.5s ease-in-out;
            &:hover {
                z-index: 999;
                position: relative;
                box-shadow: rgba(45,45,45,0.03) 0 2px 2px, rgba(49,49,49,0.03) 0 4px 4px, rgba(42,42,42,0.03) 0 8px 8px, rgba(32,32,32,0.03) 0 16px 16px, rgba(49,49,49,0.03) 0 32px 32px, rgba(35,35,35,0.03) 0 64px 64px;
                transform: translate(0, -4px);
               }
            .profile-img{
                min-height: 380px;
                max-height: 380px;
                width: 100%;
               overflow: hidden;
            }
            .profile-detail {
                background-color: #FAFAFA;
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;
                padding: 20px;
                border-bottom: 1px solid #ED5C37;
                height: 100%;
                h3 {
                    font-size: 24px;
                    color: #333333;
                    text-align: center;
                    line-height: 30px;
                    font-family: $futura-medium;
                }
                p{
                    font-size: 18px;
                    color: #666666;
                    letter-spacing: 0;
                    text-align: center;
                }
            }
        }
    }



    //book cunsultation 

    .book-cunsltation-section {
        padding: 40px 0 70px 0;
        .logo-inner-page {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 30px;
            img {
                width: 80px;
                display: block;
            }
        }

        .book-content {
            h2 {
                margin-bottom: 30px;
                font-size: 40px;
                color: #222222;
                font-family: $futura-medium;
                letter-spacing: 0;
                text-align: center;
                position: relative;
                &::after {
                    content: "";
                    border-bottom: 4px solid #ED5C37;
                    border-radius: 100px;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: -10px;
                    width: 50px;
                    margin: 0 auto;
                }
            }

            P {
                text-align: center;
                font-size: 16px;
                color: #666666;
                letter-spacing: 0;
                text-align: center;
                line-height: 30px;
            }
            
            
        }
    }

    .form-section {
        background-image: url('../images/back-pattern.png');
        background-repeat: no-repeat;
        background-size: auto;
        background-attachment: fixed;
        background-position: bottom left;
        .inner-form {
            .white-bg-form{
                padding: 80px 100px;
                background: #ffffff;
                box-shadow: 0 0 61px 0 rgba(231,231,231,0.19);
                margin-bottom: 100px;

                .form-group {
                    margin-bottom: 20px;
                    label{
                        color: #666666;
                        font-size: 18px;
                        letter-spacing: 0;
                        line-height: 25.6px;
                        font-family: $futura-book;
                        margin-bottom: 0px;
                    }
                    .form-control {
                        border: 0;
                        border-bottom: 1px solid #666666;
                        font-size: 20px;
                        line-height: 30px;
                        border-radius: 0;
                        box-shadow: none;
                        font-family: $futura-book;
                        outline: 0;   
                        caret-color: #ED5C37;
                        padding: 5px 0;
                        &:focus {
                            border-bottom: 1px solid #ED5C37;
                        }                 
                    }
              

                    .btn-send {
                        font-size: 24px;
                        letter-spacing: 0;
                        text-align: center;
                        display: block;
                        width: 100%;
                        background-color: #ED5C37;
                        color: #fafafa;
                        &:hover {
                            background-color: #f2f2f2;
                            color: #ED5C37;
                            -webkit-transition: all 0.3s ease-in-out;
                            transition: all 0.3s ease-in-out;
                            box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
                        }
                    }
                }
                .drop-dwon-div{
                    margin-bottom: 50px;
                }
                
            }
        }
    }


}

.footer {
    background-color: #ED5C37;
    .footre-content{
        background-color:#ED5C37;;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 158px 0 70px 0;
        
        h3 {
            font-size: 20px;
            color: #FFFFFF;
            letter-spacing: 5px;
            text-align: left;
            font-family: $futura-light;
            text-transform: uppercase;
            opacity: .5;
        }
        h2 {
            font-size: 40px;
            color: #FFFFFF;
            letter-spacing: 0;
            text-align: center;
            line-height: 60px;
            font-family: $futura-medium;
            span {
                display: block;
            }
            a { color: #ffffff;
                text-decoration: none;
                display: inline-block;
                font-family: $basker-ville;
                border-bottom: 1px solid transparent;
                &:hover {
                    border-bottom: 1px solid #ffffff;
                }
            }
            
        }
    }

    .bg-footer{
        background-color: #ED5C37;
        color: #ffffff;
        background-image: url(../images/footer.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
        padding: 0 0 280px 0;
        margin-bottom: -46px;
    }
    
    
    span {
        color: #ffffff !important;
    }

    .fooetr-copy{
        background-color: #ED5C37;
        height: 46px;
    }
}
.footer-bg-transperant{
    padding-top: 30px;
    background-color: transparent;
     .footre-content {
         background-color: transparent;
       
     }
     .bg-footer-inner{
        background-color: transparent;
        background-image: url('../images/footer-2.png');
    }
    .fooetr-copy {
        background-color: #dbdbdb;
    }
}


@media (min-width: 1130px) {
    .home-inner
    {
        max-width: 1130px;
        width: 100%;
    }
    .offset-xl-2-zero {
        margin-left: 0;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .header {
        .navbar {
            .collapse {
                .navbar-nav {
                    .nav-item {
                        .nav-link {
                            font-size: 13px;
                            padding: 8px 10px;
                        }
                    }
                }
            }
        }
    }
    
}

@media (min-width: 1920px) {
    .home-inner
    {
        max-width: 1920px;
        width: 100%;
    }   
    .offset-xl-2-zero {
        margin-left: 16.666667%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .our-service-section {display: flex; align-items: center; justify-content: center;}
    .our-service-inner{
        max-width: 1920px;
        width: 100%;
    }

    .header {
        .navbar {
            .collapse {
                .navbar-nav {
                    .nav-item {
                        .nav-link {
                            font-size: 14px;
                            padding: 8px 15px;
                        }
                    }
                }
            }
        }
    }
}




/*############################## end Home section ###############################*/




/*###########################################################################
############################## media query started ###############################
######################################################################################*/


@media (max-width: 767px) {

// page body for mobile

body {
    background-image: none;
}

.header{
        .navbar {
            padding: 15px 0;
            background-color: #ffffff;
            z-index: 999;
        .row-100 {
            width: 100%;
            margin: 0;
            .col-12 {
                padding: 0 15px;
            }
           .navbar-brand {
                    width: 170px;
                    height: auto;
                    img {
                    width: 100%;
                    }
                }     
             }

            .collapse {
                padding: 10px 0;
                .navbar-nav { 
                    .nav-item  {
                        .nav-link {
                            color: $textcolor;
                            font-size: 16px;
                            line-height: 26px;
                            padding: 8px 12px;
                            font-weight: 500;
                            &:hover {
                                color: $hover;
                            }
                        
                        }
                    }

                    .nav-btn {
                        .nav-link {
                        background-color: #ED5C37;
                        color: #ffffff;
                        border-radius: 4px;
                        transition: none;
                        &:hover {
                            background-color: #ffffff;
                            color: #ED5C37;
                        }
                        }
                    }
                }
            } 
        }
}
// home mobile
.middle-section{
    .middle-inner {
        background-image: none ;
    }

     .home-section {
            background-image: none;
            .home-inner
            {   background-image: none;
                padding: 50px 0;     
                .home-welcome {
                    .welcome-content {
                        padding-left: 0%;
                        h1 {
                            padding: 50px 40px;
                            margin-bottom: 30px;
                            font-size: 40px;
                            color: #222222;
                            font-weight: 700;
                            letter-spacing: 0;
                            line-height: 56px;
                            text-align: left;
                            position: relative;
                            
                            &::after {
                                content: "";
                                border-bottom: 4px solid #ED5C37;
                                border-radius: 100px;
                                position: absolute;
                                left: 40px;
                                top: 105px;
                                bottom: auto;
                                width: 50px;
                            }
                            
                        }
                        P {
                            font-size: 16px;
                            color: #666666;
                            letter-spacing: 0;
                            line-height: 30px;
                            font-weight: 500;;
                            span {
                                display: block;
                            }
                        }
                    }
    
                    .solution-tabs {
                        padding: 30px 0;
                        padding-left: 0%;
                        ul {
                            padding: 0;
                            margin: 0;
                            border: 0;
                            li {
                                display: inline-block;
                                list-style: none;
                                a {
                                    padding: 6px 13px;
                                    background: #F1F3F5;
                                    font-size: 14px;
                                    color: #222222;
                                    letter-spacing: 0;
                                    text-align: left;
                                    text-decoration: none;
                                    font-weight: 500;
                                    margin-right: 6px;
                                    line-height: 22px;
                                    display: inline-block;
                                    margin-bottom: 10px;
                                    transition: all 0.3s ease-in-out;
    
                                    &:hover {
                                        background: rgba(237,92,55,0.10);
                                        color: #ED5C37;
                                        transition: all 0.3s ease-in-out;
                                    }
                                }
    
                                a.active 
                                {
                                    padding: 6px 13px;
                                    background: rgba(237,92,55,0.10);
                                    font-size: 14px;
                                    color: #ED5C37;
                                    letter-spacing: 0;
                                    text-align: left;
                                    text-decoration: none;
                                    font-weight: 500;
                                
                                }  
                            }   
                        }
                    }
                }
    
                .tab-home {
                    .tab-pane { 
                        width: 100%;
                        max-height: auto;
                        min-height: auto;         
                        img {
                            width: 100%;
                        }
                    }
                }
            }
     }
      
    .our-strtagic-section {
        padding: 60px 0;
            .our-strtagic-inner{
                .stratagic-inner{
                    padding: 50px 0 0 0 ;
                    .tab-strtagic {
                        .tab-pane {
                            .startgic-content {
                                h2 {
                                    margin-bottom: 50px;
                                    font-size: 34px;
                                    color: #222222;
                                    font-weight: 700;
                                    letter-spacing: 0;
                                    text-align: left;
                                    position: relative;
                                }
                            }
                        }
                    }
                }
            }
    }

    .timeline-wrapper {
        padding: 0;
        min-width: 100%;
        .StepProgress {
            padding: 0 0 0 0 !important;
            &::before {
            height: 100%;
            top: 0;
            display: none;
            }
            .StepProgress-item {
                padding: 0 0;
                display: inline;
                &::before { 
                    display: none !important;
                }
                &::after {display: none; }
                a {
                    padding: 5px 10px;
                    display: inline-block;  
                    left: 0;
                    background-image: linear-gradient(216deg, #FF1515 0%, #ED5C37 59%);
                    color: #ffffff !important;
                    margin-bottom: 6px !important;  
                  
                    div {
                        color: #ffffff !important; 
                    }             
                }
                a.active {
                    &::before {
                        display: none;
                    }
                    &::after {
                        display: none;
                    }
                 img {
                     display: none;
                 }
                }
            }
        }
    }       

    .like-wat-you-see {
        background-image: none;
        .like-wat-you-see-inner {
            background-image: none;
        }
            h2 {
                text-align: center;
                font-size: 22px;
                line-height: 36px;

                span {
                    position: relative;
                    &::after {
                        left: 5%;
                        bottom: -10px;
                        width: 90%;
                    }
                }

            }
            .bookcunstation {
                padding: 40px 0 10px 0;
                justify-content: center;
                align-items: center;
            }
    }

    .expert-section {
            padding: 60px 0 40px 0;
            .pad-left-0 {
                padding-left: 15px;
            }
            .pad-right-0{
                padding-right: 15px;  
            }

            img {
                margin-bottom: 20px;
            }

            .expert-content {
                h2 {
                    font-size: 32px;
                }
            }
    }
     
    .our-client-section {
        padding: 60px 0;
        .our-client-content {
            padding: 20px 0px;
            margin-bottom: 0;
            h2 {
                font-size: 32px;
            }
        }

        .ourclient-content {
            padding: 0 20px;
        }

        .owl-theme .owl-nav {
            position: relative;
            top: -70%;
            .owl-prev{
                left: 30px;
                position: absolute;
                &:hover {
                    background-color: transparent;
    
                }
                &:focus {
                    box-shadow: none;
                    outline: 0;
                }
            }
            .owl-next{
                right: 30px;
                position: absolute;
                &:hover {
                    background-color: transparent;
    
                }
                &:focus {
                    box-shadow: none;
                    outline: 0;
                }
            }
        }
    }
        
    .your-team-section {
		.team-profile {
            margin-bottom: 30px;
			.profile-img {
				min-height: auto;
				max-height: auto;
				width: 100%;
				overflow: hidden;
			}
		}
    }  
    
    .industires-section {
        background-image: none;
        .industires-content {
            h2 {
                font-size: 32px;
            }
        }

        .industires-content-div {
            .info-industires {
                padding: 40px 15px;
            }
          
        }

        .tabs-div {
			.industres-tab {
				li {
                    margin-right: 6px;
					a {
						padding: 6px 12px;
						background: #DBDBDB;
						font-size: 14px;
						color: #222222;
						letter-spacing: 0;
						text-align: left;
						text-decoration: none;
						font-weight: 500;
						margin-bottom: 8px;
						display: block;
						border: 1px solid transparent;
					}
				}
			}
		}
    }   
    
	.our-service-section {
        
		.our-service-box {
            padding: 60px 20px 20px 20px;             
                h2 {
                font-size: 32px;
            }
           
        }
        .owl-theme {
            .owl-nav {
                margin-top: 10px;
                position: relative;
                left: 0px;
                bottom: 32px;
            }
        }
    }
    
    .logo-client-section{
        padding: 60px 0;
    }


    // book cunsultation
     .book-cunsltation-section {
        padding: 60px 0 50px 0;
    }
    .form-section {
        background-image: none;
		.inner-form {
			.white-bg-form {
				padding: 60px 30px;
				background: #ffffff;
				-webkit-box-shadow: 0 0 61px 0 rgba(231, 231, 231, 0.19);
				box-shadow: 0 0 61px 0 rgba(231, 231, 231, 0.19);
                margin-bottom: 100px;
                .form-group {
                    margin-bottom: 20px;
                    label {
                        margin-bottom: 10px;
                    }
                    .form-control {
                        font-size: 20px;
                        line-height: 30px;
                    }
                }
			}
		}
	}

}

// media query end
}


////////////////////////////////////////////////////// I pad ////////////////////////////////////////////////


/* Landscape */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {


    
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .middle-section {

        .home-section {
            .home-inner {
                .home-welcome {
                    .welcome-content {
                        padding-left: 8%;

                        h1 {
                            padding: 20px 0 10px 0;
                            margin-bottom: 30px;
                        }
                    }

                    .solution-tabs {

                        padding-left: 8%;
                    }
                }
            }
        }
        .our-client-section {
            .owl-theme {
                .owl-nav {
                    display: block;
                    .owl-next {
                        right: 0;
                    }
                    .owl-prev{
                        left: 0;
                    }
                }
            }
        }
        
    }

}


/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .navbar-expand-md .navbar-toggler {
        display: block;
    }

    .header {
        .navbar {
            background-color: #ffffff;
            z-index: 999;
            .collapse {
                display: block;
                .navbar-nav {
                    display: inline-block;
                    margin-left: 0 !important;
                    .nav-item {
                        .nav-link {
                            font-size: 16px;
                            line-height: 26px;
                            padding: 8px 12px;
                            font-weight: 500;
                        }
                    }
                    padding-bottom: 30px;
                }
            }
            .collapse:not(.show) {
                display: none !important;
            }
        }
    }
    
.middle-section {

        .home-section {
            .home-inner {
                .home-welcome {
                    .welcome-content {
                        padding-left: 5%;
                    }

                    .solution-tabs {
                        
                        padding-left: 5%;
                    }
                }
            }
        }


    .StepProgress::before {
        height: 100% !important;
        top: 0% !important;
    }

    .expert-section {
            .pad-left-0 {
                padding-left: 15px !important ;
            }
            .pad-right-0{
                padding-right: 15px !important;  
            }

            img {
                margin-bottom: 20px;
            }

            .order-sm-1 {
                order: 1 !important;
            }
            .order-sm-2 {
                order: 2 !important;
            }
    }

    .like-wat-you-see{
        h2 {
            text-align: center;
        }
        .bookcunstation {
            padding: 40px 0 0 0;
            justify-content: center;
            align-items: center;
        }
    } 

    .our-client-section {
        .ourclient-content {
            padding: 40px 20px;
        }
    }

    .your-team-section {
		.team-profile {
            margin-bottom: 30px;
			.profile-img {
				min-height: auto;
				max-height: auto;
				width: 100%;
				overflow: hidden;
			}
		}
	}    


    .our-service-section {
		.owl-theme {
			.owl-nav {
				left: -270px;
                bottom: -10px;
                display: block;
			}
		}
    }
    

    .your-team-section {
		.team-profile {
			.profile-detail {
                h3 {
                    font-size: 16px;
                }
				p {
                    font-size: 14px;
				}
			}
		}
    }
    
    .our-client-section {
		.owl-theme {
			.owl-nav {
                display: block;
				.owl-next {
                    right: 0;
                }
                .owl-prev{
                    left: 0;
                }
			}
		}
	}
    
}







}
/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .header {
        .navbar {
            .collapse {
                .navbar-nav {                   
                    .nav-item {
                        .nav-link {
                            font-size: 12px;
                            line-height: 22x;
                            padding: 8px 10px;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }


.middle-section {
    .home-section {
		.home-inner {
			.tab-home {
				.tab-pane {
                    max-height: 100%;
                    min-height: 415px;
				}
			}
		}
    }
    
    .our-service-section {
		.owl-theme {
			.owl-nav {
				left: -280px;
				bottom: 10px;
			}
		}
	}
}

    
}





/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {


}

/* Portrait */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

    .header {
        .navbar {
            .navbar-toggler {
                top: 15px;
                display: none;
            }
        }
    }

    .header {
        .navbar {
            .collapse:not(.show){
                display: flex !important;
                .navbar-nav {
                    display: flex;
                    padding: 0;
                    .nav-item {
                        .nav-link {
                            font-size: 12px;
                            line-height: 26px;
                            padding: 8px 12px;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }

    .middle-section {
        .home-section {
            .home-inner {
                .tab-home {
                    .tab-pane {
                        width: 100%;
                        max-height: 650px;
                        min-height: auto;
                        overflow: hidden;
                    }
                }
            }
        }
    }
    
}




///// time line start to end


$color_1: #FFF;
$font_family_1: 'futurabook';
$background_color_1: #FFF;
$background_color_2: green;



.timeline-wrapper 
{
    .StepProgress {
        display: inline-block;
        border: 0;
    }
}


.bold {
    font-weight: bold;
    font-size: 16px;
    color: #666666;
    font-weight: 500;

}
.time {
	position: absolute;
	left: -110px;
}
.timeline-wrapper {
	padding-left: 80px;
	min-width: 400px;
	font-family: $font_family_1;
	font-size: 14px;
}
.StepProgress {
    padding-top: 100px;
    padding-bottom: 100px;
	position: relative;
	padding-left: 45px;
	list-style: none;
	&::before {
		display: inline-block;
		content: '';
		position: absolute;
		top: -50px;
		left: 15px;
		width: 10px;
		height: 150%;
		border-left: 2px solid #CCC;
	}
	strong {
		display: block;
	}
}
.StepProgress-item {
    a {
        display: block;
        padding-left: 50px;
        position: relative; 
        left: -41px;
        text-decoration: none;
        z-index: 102;
        img {
            position: absolute;
            left: 0;
            top:  3px;
            display: none;
        }

        img.img-up-2 {top: 1px; left: 1px;}
        .left-1 {left: 1px;}

        &:hover {
            .bold {
                color: #ED5C37;
            }
        }
       
    }
   

	position: relative;
	counter-increment: list;
	&:not(:last-child) {
		padding-bottom: 80px;
	}
	&::before {
		display: inline-block;
		content: '';
		position: absolute;
		left: -30px;
		height: 100%;
		width: 10px;
	}
	&::after {
		content: '';
		display: inline-block;
		position: absolute;
		top: 1px;
		left: -39px;
		width: 20px;
		height: 20px;
		border: 2px solid #cccccc;
		border-radius: 50%;
		background-color: #ffffff;
	}
}
.StepProgress-item.active {
    a.active {

        transition: all 0.3s ease-in-out;
        z-index: 102;
        .bold{
            color: #ED5C37;
        }
        img {
            display: block;
            z-index: 103;
        }

        // span {
        //     position: relative;
        //     z-index: 999;
        // }
        &::after {
            content: '';
            position: absolute;
            font-size: 10px;
            color: #FFF;
            text-align: center;
            border: 5px solid #ffffff;
            background-color: transparent;
            top: -13px;
            left: -13px;
            width: 48px;
            border-radius: 100px;
            height: 48px;
            z-index: 100;
        }
        &::before {
            content: '';
            position: absolute;
            font-size: 10px;
            color: $color_1;
            text-align: center;
            border: 2px solid rgba(237, 92, 55, 0.9);
            background-color: transparent;
            top: -14px;
            left: -14px;
            width: 50px;
            border-radius: 100px;
            height: 50px;
            z-index: 100;
        }

        
    }

	&::before {
        border-left: 2px solid rgba(237, 92, 55, 0.4);
       
	}
	&::after {
        content: '';
		font-size: 10px;
		color: $color_1;
		text-align: center;
		border: 2px solid rgba(237, 92, 55, 0.4);
        background-color: #ffffff;
        top: -9px;
        left: -50px;
        width: 40px;
		height: 40px;
        background-image: linear-gradient(216deg, #FF1515 0%, #ED5C37 59%);
        z-index: 77;
	}
}


///// time line start to end